@font-face {
    font-family: 'cranberry';
    src: url("../assets/fonts/CranberryBlues.ttf");
    font-weight: normal;
    font-style: normal;
    }
@font-face{
    font-family: 'goodpeople';
    src: url("../assets/fonts/GOOD PEOPLE.otf");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'honey';
    src: url("../assets/fonts/Honey.ttf");
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: black;
    margin-top : 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
}

footer{
    color : gold;
    margin: 40px;
    font-size: 3rem;
    text-align: center;
    font-family: 'honey';
}

h1{
    color: gold;
    font-size: 5rem;
    font-family: 'honey';
    text-align: center;
}
#mycanvas{
    border: 15px solid blue; 
    background-color: black;
    margin:auto;
}

#countdown{
    position:absolute;
    top:25%;
    left:35%;
    font-family: "cranberry";
    font-size: 8rem;
    color: gold;
    pointer-events: none;
    visibility: hidden;

}

#chat{
    width: 100%;
    height: 100%;
    background-color:snow;
}

